body{
    background-color: lightcyan;
}

.navbar-default{
    background: #521A89;
    margin-top: -1px;
}

/*Цвет названия сайта*/
.navbar-default .navbar-brand{
    color: white;
}

/*Цвет названия сайта, при поднесении к нему курсора мышки или при его нахождении в фокусе*/
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
}

/*Цвет элемента меню, при поднесении к нему курсора мышки или при его нахождении в фокусе*/
.navbar-default .navbar-nav > li:hover,
navbar-default .navbar-nav > li > a:focus{
    color: white;
}

/*Цвет элементов меню */
.navbar-default .navbar-nav > li > a {
    color: white;
}

/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки
или при его нахождении в фокусе */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #d1ffed;
    background-color: #7448A0;
}

/*Цвет текста и фона нижнего блока footer*/
.page-footer{
    background-color: #521A89;
    color: white;
}

/*Цвеи верхнего блка footer*/
.page-footer .row{
    background-color: #7448A0;
    margin-right: -30px;
    margin-left: -30px;
}

/*Цвет ссылко верхнего блока footer*/
.page-footer .list-unstyled > li > a{
    color: white;
}

/*Цвет ссылко нижнего блока footer*/
.footer-copyright > a{
    color: white;
}
