@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
    background-color: white;
    font-family: 'Comic Neue', cursive;
}

h1{
    font-weight: bold;
    font-size: 64px;
}

.centered{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.content{
    min-height: 615px;
}

.navbar-default{
    box-shadow: inset 0 0 50px 1px black;
}

.header-text{
    margin-top: -60px;
    font-family: 'Caveat', cursive;
    font-size: 42px;
    color: white;
}

.banner-text{
    font-family: 'Caveat', cursive;
    font-size: 92px;
    color: white;
    background-color: black;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 10px;
}

.form-control{
    width: 700px !important;
    margin-left: auto;
    margin-right: auto;
}

.banner .navbar-form{
    margin-top: 10%;
}

.banner{
    background-image: url("../img/header.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: -250px;
    height: 660px;
    margin-top: -20px;
    box-shadow: inset 0 -93px 54px -29px rgba(255,255,255,1);
}

.logo{
    width: 80px;
    transition: 0.8s;
}

.logo:hover, .logo:focus{
    filter: hue-rotate(100deg);
    transform: scale(1.1);
}

.navbar-default{
    background: #521A89;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-nav > li{
     display: block;
     margin-top: 4%;
     border-radius: 15px;
     font-size: 20px;
 }

.navbar-default .navbar-nav > li > a{
    transition: 0.5s;
}

.navbar-default .navbar-nav > li > a:hover{
    color: red;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.navbar-toggle:focus, .navbar-toggle:hover{
    background-color: #521A89 !important;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.getStarted-button{
    background-color: #59b123;
    width: 200px;
    color: black;
    text-decoration: none;
    font-size: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 20px;
    transition: 0.8s;
}

.getStarted-button:hover{
    text-decoration: none;
    background-color: darkgreen;
}

.getStarted-button > a{
    color: black;
    text-decoration: none;
}

#news .card{
    margin-bottom: 100px;
}

.content .product{
    margin-top: 40px;
}

.product img{
    border: 1px #9c9eaf solid;
    border-radius: 20px;
    padding: 50px;
}

.cart img{
    width: 300px;
}

.cart .remove-button{
    width: 50px;
}

.img-wrap{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.product .img-wrap{
    width: 400px;
}

.cart .img-wrap{
    width: 300px;
}

.img-wrap p{
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    background-color: #7842CB;
    color: white;
    min-width: 150px;
    border-radius: 45px 0 120px 0;
    border-bottom: 1px #9c9eaf solid;
    border-right: 1px #9c9eaf solid;
    top: 1px;
    left: 1px;
}

.remove-button{
    position: absolute;
    top: 2px;
    right: 0;
    width: 50px;
    transition: 1s;
}

.remove-button:hover{
    filter: hue-rotate(100deg);
    transform: scale(1.1);
}

.price{
    font-size: 46px;
    font-weight: bold;
    color: green;
}

.size{
    font-size: 46px;
    font-weight: bold;
}

.product-button{
    margin-top: 20px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: #9c9eaf 1px solid;
    border-radius: 50px;
    transition: 1s;
    padding: 20px;
}

.product-button:hover{
    background-color: black;
    border: black 1px solid;
    color: white;
}

.product .img-wrap > a{
    text-decoration: none;
    color: black;
}

.cart .col-md-4{
    margin-bottom: 20px;
}

.cart .btn{
    padding: 40px;
    text-align: center;
    font-size: 52px;
    font-weight: bold;
}

.payment-img{
    margin: 5px;
}

.social-img{
    margin: 5px;
    width: 42px;
}

.login-logo{
    width: 60px;
    margin-left: auto;
    margin-right: auto;
}

.login-form{
    padding: 50px;
    width: 330px;
    border: 2px deeppink solid;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 239px;
}

.profile-img{
    width: 200px;
    border: 1px black solid;
    border-radius: 180px;
    padding: 20px;
    margin-top: 70px;
}

.login-form > label{
    margin-top: 30px;
}

.profile-menu > a > button{
    margin-top: 20px;
    width: 150px;
}

.fg-pass{
    font-size: 11px;
    text-decoration: none;
}

#login-button {
    background-color: #28a745;
    border: none;
    height: 50px;
    width: 100px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 20px;
    transition: 1s;
}

#login-button:hover{
    filter: invert(100%);
}

.content label{
    margin-top: 10px;
}

.content .password input{
    width: 200px;
}

.content .address input{
    width: 450px;
}

.category-line{
    color: #9c9eaf;
    background-color: #9c9eaf;
    height: 1px;
    width: 45%;
}

#news .card{
    width: 900px;
    border: 2px deeppink solid;
    padding: 0 70px 0 70px;
}

.page-footer{
    background-color: #521A89;
    color: white;
}

.page-footer a{
    color: white;
}

.page-footer .row{
    background-color: #7842CB;
}

.page-footer .container-fluid .row .col-md-3 > a{
    color: white;
}

.btn{
    margin: 0 20px 0 20px;
}

.thead-main{
    background-color: #521A89;
    color: white;
}

.btn{
    transition: 0.5s;
}

footer{
    margin-top: 100px;
}

@media (max-width: 1650px){
    .banner{
        background-position-y: -100px;
    }

    .navbar-default .navbar-nav > li{
        margin-top: 6%;
    }

}

@media (max-width: 1330px){
    .banner {
        background-position-y: -50px;
        height: 580px;
    }

    .product > img{
        width: 320px;
    }

    .product-button{
        width: 260px;
    }

    .product-page .col-lg-4, .product-page .col-lg-6,
    .product-page .col-lg-3, .product-page .col-lg-1{
        text-align: center;
    }
}

@media (max-width: 1132px){
    .banner{
        height: 460px;
    }

    .banner-text{
        font-size: 80px;
    }

    .header-text{
        margin-top: -50px;
        font-size: 42px;
    }

    .navbar-default .navbar-nav > li{
        font-size: 16px;
        margin-top: 5.5%;
    }

    .product-page .row{
        text-align: center;
    }
}

@media (max-width: 1004px){
    .header-text{
        font-size: 34px;
    }

    #news  .card{
        width: 700px;
    }
}

@media (max-width: 888px){
    .banner{
        height: 350px;
    }

    .banner-text{
        font-size: 50px;
    }

    .content > h1{
        font-size: 40px;
        margin-top: 50px;
    }

    .cart img{
        width: 250px;
    }

    .cart .img-wrap{
        width: 250px;
    }

    .cart .remove-button{
       width: 50px;
    }
}

@media (max-width: 766px){
    .navbar-default .collapse .navbar-nav > li{
        text-align: center;
        margin-top: 0;
    }

    .navbar-default .collapse .navbar-nav{
        margin-bottom: 25px;
    }

    #news  .card{
        width: 600px;
    }

    #news .card > img{
        width: 150px;
    }

    #news .card .card-body > h2{
        font-size: 24px;
    }

    .product-page .col-sm-6{
        text-align: center;
    }

    .product-page .col-sm-2{
        text-align: center;
    }


}

@media (max-width: 722px){
    .banner{
        height: 300px;
    }

    .banner-text{
        width: 400px;
    }

    .getStarted-button{
        font-size: 25px;
    }

    .form-control{
        width: 400px !important;
    }

    #news .card{
        width: 470px;
        padding: 10px;
    }
}

@media (max-width: 598px){
    .banner{
        height: 200px;
    }

    .banner-text{
        margin-top: -50px;
    }

    .header-text{
        margin-top: -40px;
        font-size: 28px;
    }

    .logo{
        width: 50px;
    }

    .getStarted-button{
        display: none;
    }

    .content > h1{
        margin-top: 0;
    }
}

@media (max-width: 502px){
    #news  .card{
        width: 400px;
    }

    .content .address form input{
        width: 350px;
    }

    .header-text{
        margin-left: 20px;
        margin-top: -35px;
    }
}

@media (max-width: 460px){
    .header-text{
        font-size: 24px;
    }

    .banner-text{
        margin-top: -30px;
        width: 200px;
        font-size: 40px;
    }

    .form-control{
        width: 200px !important;
    }

    .product .img-wrap img{
        width: 250px;
    }

    .product-button{
        width: 200px;
        padding: 10px;
        font-size: 14px;
    }

    .product .img-wrap{
        width: 250px;

    }

    .product .img-wrap p{
        font-size: 20px;
        min-width: 90px;
    }
}

@media (max-width: 420px){
    .banner{
        height: 150px;
    }

    .header-text{
        margin-top: -35px;
        font-size: 20px;
    }

    #news .card{
        width: 320px;
    }

    #news .card > img{
        width: 120px;
    }

    #news .card .card-body > p{
        font-size: 12px;
    }

    .product-page img{
        width: 200px;
    }

    .product-page h1{
        font-size: 40px;
    }

    .product-page h2{
        font-size: 20px;
    }
}

@media (max-width: 368px){
    .banner{
        height: 130px;
    }

    .header-text{
        margin-top: -35px;
    }

    .logo{
        width: 40px;
    }

    .header-text{
        font-size: 18px;
        margin-left: 20px;
    }

    #news .card{
        width: 290px;
    }

    .login-form{
        width: 300px;
    }

    .login-form > h1{
        font-size: 50px;
    }

    .cart .col-md-4{
        margin-left: -7px;
    }

    .cart .btn {
        width: 280px;
        margin-left: 7px;
        font-size: 45px;
        padding: 10px;
    }

    .content .address form input{
        width: 260px;
    }
}




